
/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.font-opensans {
  font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Poppins-SemiBold";
    src: url('Poppins-SemiBold.TTF');
  }

  @font-face {
    font-family: "Poppins-ExtraLight";
      src: url('Poppins-ExtraLight.TTF');
    }
/* ==========================================================================
   #GRID
   ========================================================================== */
